In [2]:
import numpy as np
import pandas as pd
dates = pd.date_range('20200101', periods=200)
df = pd.DataFrame(data=np.random.randn(200,10),index=dates, columns = "A B C D E F G H I J".split())

In [3]:
df

,A,B,C,D,E,F,G,H,I,J
2020-01-01,-0.879721,1.746512,-0.419753,-0.704658,0.152876,-0.602379,0.869983,0.598265,0.593092,-0.114388
2020-01-02,1.563899,-1.030612,0.875015,-0.035528,-0.233993,0.939626,0.365136,-1.842953,-0.419119,1.700694
2020-01-03,0.761184,0.949631,-0.422963,-0.688134,-0.775686,-0.353515,-0.915509,-0.317686,-1.107764,1.537166
2020-01-04,0.363136,1.878898,0.186731,0.473796,-0.186687,-0.042692,-1.814699,-0.276927,0.403861,-0.713065
2020-01-05,0.818961,-2.067514,-0.237943,0.730991,-0.465981,-0.004758,-1.164102,-1.698873,0.787382,-1.255294
...,...,...,...,...,...,...,...,...,...,...
2020-07-14,0.914752,0.948629,-1.422316,0.601443,-1.142877,1.183850,1.200438,-0.582210,-0.498614,0.209404
2020-07-15,1.051360,0.358521,0.787803,1.009448,-0.522587,-0.913450,-0.580759,-0.695345,-0.381822,-0.240925
2020-07-16,0.531318,0.618819,0.061944,0.566416,0.322023,-0.197133,-0.734911,1.350743,0.763817,0.378296
2020-07-17,1.059287,-0.327102,-2.647310,-0.407411,-1.746312,-1.000876,2.018425,1.906774,0.816150,-0.254362
2020-07-18,-0.894675,-0.208410,-1.302346,-0.546081,1.267141,-0.171103,-2.806467,1.201232,1.071966,0.143611

In [4]:
df = pd.DataFrame(data={'A':[1,2,3,4],'B':[1,2,np.nan,67]})

In [5]:
df

   A     B
0  1   1.0
1  2   2.0
2  3   NaN
3  4  67.0

In [6]:
df.dropna()

   A     B
0  1   1.0
1  2   2.0
3  4  67.0

In [7]:
df.fillna(70)

   A     B
0  1   1.0
1  2   2.0
2  3  70.0
3  4  67.0

In [8]:
df.isna()

       A      B
0  False  False
1  False  False
2  False   True
3  False  False

#APPly

In [9]:
import numpy as np
import pandas as pd
dates = pd.date_range('20200101', periods=200)
df = pd.DataFrame(data=np.random.randn(200,10),index=dates, columns = "A B C D E F G H I J".split())

In [10]:

df.apply(np.cumsum)

,A,B,C,D,E,F,G,H,I,J
2020-01-01,-0.774681,0.057397,1.286497,-0.141234,-0.968671,-1.239118,-0.750502,1.239389,-1.842550,-0.243413
2020-01-02,-0.069340,0.124580,1.880777,0.031719,-1.278079,-1.614942,-0.446273,0.892437,-1.519907,-1.492057
2020-01-03,-1.480004,-0.539311,2.758469,-0.152309,-2.363826,-1.542830,-0.539180,0.590779,-2.866969,-1.820554
2020-01-04,-1.360695,0.117679,2.527616,0.816926,-1.821721,-0.635902,0.891318,-0.011378,-4.075742,-3.471419
2020-01-05,-1.615887,0.994225,2.891453,0.059834,-2.478624,-1.198210,0.050175,-0.387156,-3.141493,-3.519136
...,...,...,...,...,...,...,...,...,...,...
2020-07-14,14.591345,-5.015457,-4.177091,4.793002,11.739322,6.875119,1.463426,6.211100,-2.260096,6.091201
2020-07-15,12.096618,-4.910680,-4.432247,4.787034,11.145167,6.288375,1.402932,8.477959,-2.970704,5.454324
2020-07-16,11.777790,-4.510839,-2.892725,4.092076,10.709011,5.354442,2.179005,7.904284,-4.712888,6.522004
2020-07-17,14.602909,-4.443990,-1.409461,3.891981,10.832536,5.772733,2.173719,7.586584,-2.849721,6.336585
2020-07-18,15.988308,-3.570946,-0.235438,3.852169,11.099665,5.381424,3.044697,6.814060,-4.138094,6.508775

In [12]:
def myfunction(data):
    return 67

In [19]:
def myfunction(row):
    if row[['A']]> 0:
        return "positive"
    else:
        return "negative"

In [20]:
df["column A status"] = df.apply(myfunction, axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().