In [1]:
import numpy as np
import pandas as pd

pandas series

In [2]:
s = pd.Series([1,3,'text',-9])

In [3]:
s2 = pd.Series([1,3,np.nan,-9])

In [4]:
s2

0    1.0
1    3.0
2    NaN
3   -9.0
dtype: float64

In [5]:
dates = pd.date_range('20200101', periods=8)

In [6]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df = pd.DataFrame(data=np.random.randn(8,4),index=dates, columns = "A B C D".split())

In [16]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [20]:
df

                   A         B         C         D
2020-01-01 -0.665857  0.343880  1.046898 -1.283801
2020-01-02  1.289457  0.300429 -0.440331 -0.827536
2020-01-03 -1.430449  0.393724  1.751842  0.328970
2020-01-04 -0.177033 -1.590800  1.635360 -0.756430
2020-01-05  1.318623  0.409757  2.283749  1.045866
2020-01-06  0.205086  1.147143  0.077599  0.292123
2020-01-07  0.238510 -0.448681 -0.405309  1.210232
2020-01-08 -0.137730  0.671981  1.950665 -0.240181

In [21]:
mydictionary = {'A':[1,2,3],'B':["str",34,-90]}

pd.DataFrame(data=mydictionary)

   A    B
0  1  str
1  2   34
2  3  -90

In [40]:
mydictionary = {

    'A': 12,
    "B": pd.Timestamp('20200203'),
    "C": pd.Series(3,index=list(range(4)),dtype='float32'),
    "D": np.array([3]*4),
    "E": pd.Categorical(['str','test','pandas','numpy']),
    "F": 45,
    "G": 'string for all rows',
}
df2 = pd.DataFrame(mydictionary)

In [26]:
list(range(4))

[0, 1, 2, 3]

In [28]:
pd.Categorical(['str','test','pandas','numpy'])

[str, test, pandas, numpy]
Categories (4, object): [numpy, pandas, str, test]

In [41]:
df2

    A          B    C  D       E   F                    G
0  12 2020-02-03  3.0  3     str  45  string for all rows
1  12 2020-02-03  3.0  3    test  45  string for all rows
2  12 2020-02-03  3.0  3  pandas  45  string for all rows
3  12 2020-02-03  3.0  3   numpy  45  string for all rows

In [44]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F             int64
G            object
dtype: object

In [42]:
type(df2['A'])

pandas.core.series.Series

In [47]:
dates = pd.date_range('20200101', periods=200)
df = pd.DataFrame(data=np.random.randn(200,10),index=dates, columns = "A B C D E F G H I J".split())

In [48]:
df

,A,B,C,D,E,F,G,H,I,J
2020-01-01,-0.848572,-0.311249,0.302843,-0.590042,1.031942,1.379759,-1.190030,0.316404,0.772601,-0.522228
2020-01-02,1.045045,-2.523173,0.849527,0.567666,0.029258,0.298794,-0.863271,0.727939,0.338756,-0.488956
2020-01-03,0.032478,0.169451,1.457077,-2.212258,-0.571753,0.763213,-0.099327,1.187697,0.378310,0.311288
2020-01-04,-1.846420,-1.151524,-0.499696,-1.901955,0.384964,1.550452,-0.395149,-0.380479,-0.440199,0.872894
2020-01-05,1.124485,-0.888591,-1.142886,1.299275,-0.798793,-1.306090,-0.118992,-1.171183,-1.605640,1.889881
...,...,...,...,...,...,...,...,...,...,...
2020-07-14,0.503906,-0.031384,1.207952,-2.298824,-0.450636,-0.408358,1.906308,-0.458809,-2.291621,2.555409
2020-07-15,0.856074,0.328450,-0.894512,1.080818,-0.894527,0.415790,0.174007,-0.980385,1.246895,-0.720004
2020-07-16,0.897389,1.246408,-2.103549,-0.685050,0.028436,0.067036,-0.390101,-0.723092,0.195628,-0.919467
2020-07-17,0.282972,-0.640971,-0.543898,-0.648232,-0.085766,0.822188,-1.375245,-0.484465,0.115001,1.067441
2020-07-18,0.006266,0.668385,0.501555,-0.689715,1.945627,-0.108082,-0.821489,1.137342,-1.354088,-1.068573

In [53]:
df .tail(1)

,A,B,C,D,E,F,G,H,I,J
2020-07-18,0.006266,0.668385,0.501555,-0.689715,1.945627,-0.108082,-0.821489,1.137342,-1.354088,-1.068573

In [54]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12',
               '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16',
               '2020-07-17', '2020-07-18'],
              dtype='datetime64[ns]', length=200, freq='D')

In [56]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [57]:
df.describe()

,A,B,C,D,E,F,G,H,I,J
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.137357,-0.025276,-0.110514,-0.141163,0.038167,-0.008998,0.068467,-0.042402,-0.041545,0.091887
std,1.023873,0.996345,0.909847,1.130291,1.043701,0.861797,0.943316,0.973467,0.982153,0.912631
min,-2.332257,-3.225265,-3.070628,-3.011142,-3.072677,-2.217701,-2.222853,-3.687155,-2.715288,-2.297996
25%,-0.608370,-0.730092,-0.714356,-0.954673,-0.713475,-0.663326,-0.639130,-0.655579,-0.641823,-0.491741
50%,0.134041,-0.001885,-0.182119,-0.029124,0.028067,0.016520,0.153904,-0.004513,-0.026894,0.060191
75%,0.849629,0.625671,0.509938,0.540411,0.719963,0.679904,0.768498,0.560663,0.623405,0.652303
max,2.910292,2.440614,2.962440,3.393643,2.721817,2.153976,2.036081,2.411707,2.211010,3.415037

In [62]:
df.sort_index(axis=1, ascending=False)

,J,I,H,G,F,E,D,C,B,A
2020-01-01,-0.522228,0.772601,0.316404,-1.190030,1.379759,1.031942,-0.590042,0.302843,-0.311249,-0.848572
2020-01-02,-0.488956,0.338756,0.727939,-0.863271,0.298794,0.029258,0.567666,0.849527,-2.523173,1.045045
2020-01-03,0.311288,0.378310,1.187697,-0.099327,0.763213,-0.571753,-2.212258,1.457077,0.169451,0.032478
2020-01-04,0.872894,-0.440199,-0.380479,-0.395149,1.550452,0.384964,-1.901955,-0.499696,-1.151524,-1.846420
2020-01-05,1.889881,-1.605640,-1.171183,-0.118992,-1.306090,-0.798793,1.299275,-1.142886,-0.888591,1.124485
...,...,...,...,...,...,...,...,...,...,...
2020-07-14,2.555409,-2.291621,-0.458809,1.906308,-0.408358,-0.450636,-2.298824,1.207952,-0.031384,0.503906
2020-07-15,-0.720004,1.246895,-0.980385,0.174007,0.415790,-0.894527,1.080818,-0.894512,0.328450,0.856074
2020-07-16,-0.919467,0.195628,-0.723092,-0.390101,0.067036,0.028436,-0.685050,-2.103549,1.246408,0.897389
2020-07-17,1.067441,0.115001,-0.484465,-1.375245,0.822188,-0.085766,-0.648232,-0.543898,-0.640971,0.282972
2020-07-18,-1.068573,-1.354088,1.137342,-0.821489,-0.108082,1.945627,-0.689715,0.501555,0.668385,0.006266

In [68]:
df2 = df.sort_values(by="A", inplace=False)

In [66]:
df

,A,B,C,D,E,F,G,H,I,J
2020-05-01,-2.332257,-0.665878,0.617879,-0.268840,-1.031704,-1.246667,-0.009938,1.210656,1.199068,-0.221112
2020-02-14,-2.072554,0.685587,-0.373343,0.464523,-0.607816,0.259690,1.846221,0.034464,-0.011773,1.007826
2020-01-09,-2.071733,0.466031,1.239221,-1.066478,0.610251,1.201438,0.975244,0.102627,0.456175,-0.176843
2020-02-23,-1.869535,-0.272877,-0.307307,0.206520,0.738612,-0.756100,-1.063178,-0.279179,0.472080,1.207084
2020-01-04,-1.846420,-1.151524,-0.499696,-1.901955,0.384964,1.550452,-0.395149,-0.380479,-0.440199,0.872894
...,...,...,...,...,...,...,...,...,...,...
2020-05-29,2.074742,0.790718,0.739823,0.123617,0.723901,-0.370358,1.510305,-0.062068,-0.319809,-0.516493
2020-06-29,2.079823,-0.310096,1.548033,-1.410643,1.876474,0.663527,0.564783,0.781629,-1.528414,1.195436
2020-03-12,2.179232,-1.588743,-0.192512,-1.103028,0.629034,-0.011420,0.929837,-0.153509,-0.112550,-0.788444
2020-04-24,2.213627,-1.394838,0.384203,1.523037,1.201952,-0.188801,2.011578,0.850604,-0.519409,-0.566524
2020-02-15,2.910292,-0.496479,-0.568599,0.427637,-0.695281,-0.639050,1.056216,-0.241644,-0.939164,-0.808453

In [69]:
df2

,A,B,C,D,E,F,G,H,I,J
2020-05-01,-2.332257,-0.665878,0.617879,-0.268840,-1.031704,-1.246667,-0.009938,1.210656,1.199068,-0.221112
2020-02-14,-2.072554,0.685587,-0.373343,0.464523,-0.607816,0.259690,1.846221,0.034464,-0.011773,1.007826
2020-01-09,-2.071733,0.466031,1.239221,-1.066478,0.610251,1.201438,0.975244,0.102627,0.456175,-0.176843
2020-02-23,-1.869535,-0.272877,-0.307307,0.206520,0.738612,-0.756100,-1.063178,-0.279179,0.472080,1.207084
2020-01-04,-1.846420,-1.151524,-0.499696,-1.901955,0.384964,1.550452,-0.395149,-0.380479,-0.440199,0.872894
...,...,...,...,...,...,...,...,...,...,...
2020-05-29,2.074742,0.790718,0.739823,0.123617,0.723901,-0.370358,1.510305,-0.062068,-0.319809,-0.516493
2020-06-29,2.079823,-0.310096,1.548033,-1.410643,1.876474,0.663527,0.564783,0.781629,-1.528414,1.195436
2020-03-12,2.179232,-1.588743,-0.192512,-1.103028,0.629034,-0.011420,0.929837,-0.153509,-0.112550,-0.788444
2020-04-24,2.213627,-1.394838,0.384203,1.523037,1.201952,-0.188801,2.011578,0.850604,-0.519409,-0.566524
2020-02-15,2.910292,-0.496479,-0.568599,0.427637,-0.695281,-0.639050,1.056216,-0.241644,-0.939164,-0.808453

In [70]:
df.head()

,A,B,C,D,E,F,G,H,I,J
2020-05-01,-2.332257,-0.665878,0.617879,-0.268840,-1.031704,-1.246667,-0.009938,1.210656,1.199068,-0.221112
2020-02-14,-2.072554,0.685587,-0.373343,0.464523,-0.607816,0.259690,1.846221,0.034464,-0.011773,1.007826
2020-01-09,-2.071733,0.466031,1.239221,-1.066478,0.610251,1.201438,0.975244,0.102627,0.456175,-0.176843
2020-02-23,-1.869535,-0.272877,-0.307307,0.206520,0.738612,-0.756100,-1.063178,-0.279179,0.472080,1.207084
2020-01-04,-1.846420,-1.151524,-0.499696,-1.901955,0.384964,1.550452,-0.395149,-0.380479,-0.440199,0.872894

In [71]:
df2.head()

,A,B,C,D,E,F,G,H,I,J
2020-05-01,-2.332257,-0.665878,0.617879,-0.268840,-1.031704,-1.246667,-0.009938,1.210656,1.199068,-0.221112
2020-02-14,-2.072554,0.685587,-0.373343,0.464523,-0.607816,0.259690,1.846221,0.034464,-0.011773,1.007826
2020-01-09,-2.071733,0.466031,1.239221,-1.066478,0.610251,1.201438,0.975244,0.102627,0.456175,-0.176843
2020-02-23,-1.869535,-0.272877,-0.307307,0.206520,0.738612,-0.756100,-1.063178,-0.279179,0.472080,1.207084
2020-01-04,-1.846420,-1.151524,-0.499696,-1.901955,0.384964,1.550452,-0.395149,-0.380479,-0.440199,0.872894

In [72]:
df['B']

2020-05-01   -0.665878
2020-02-14    0.685587
2020-01-09    0.466031
2020-02-23   -0.272877
2020-01-04   -1.151524
                ...
2020-05-29    0.790718
2020-06-29   -0.310096
2020-03-12   -1.588743
2020-04-24   -1.394838
2020-02-15   -0.496479
Name: B, Length: 200, dtype: float64

In [76]:
df[-3:-1]

,A,B,C,D,E,F,G,H,I,J
2020-03-12,2.179232,-1.588743,-0.192512,-1.103028,0.629034,-0.011420,0.929837,-0.153509,-0.112550,-0.788444
2020-04-24,2.213627,-1.394838,0.384203,1.523037,1.201952,-0.188801,2.011578,0.850604,-0.519409,-0.566524

In [78]:
df.loc['20200103':'20200717',['A','C']]

                   A         C
2020-05-01 -2.332257  0.617879
2020-02-14 -2.072554 -0.373343
2020-01-09 -2.071733  1.239221
2020-02-23 -1.869535 -0.307307
2020-01-04 -1.846420 -0.499696
...              ...       ...
2020-05-29  2.074742  0.739823
2020-06-29  2.079823  1.548033
2020-03-12  2.179232 -0.192512
2020-04-24  2.213627  0.384203
2020-02-15  2.910292 -0.568599

[197 rows x 2 columns]

In [79]:
df.iloc[3]

A   -1.869535
B   -0.272877
C   -0.307307
D    0.206520
E    0.738612
F   -0.756100
G   -1.063178
H   -0.279179
I    0.472080
J    1.207084
Name: 2020-02-23 00:00:00, dtype: float64

In [85]:
df.iloc[[3,4,5],[0,1,2,3]]

                   A         B         C         D
2020-02-23 -1.869535 -0.272877 -0.307307  0.206520
2020-01-04 -1.846420 -1.151524 -0.499696 -1.901955
2020-02-22 -1.828697 -0.556688 -0.508290 -1.149042